<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 多國翻譯學習平台 - 您學習原文的好夥伴</title>
  <link rel="stylesheet" href="./css/bootstrap.css">
</head>

<body>
  <div id="app">
    <h1 class="text-center my-5 display-5">AI 多國翻譯學習平台</h1>
    <!-- 翻譯內容 -->
    <div class="container my-5 p-4 p-lg-5 shadow rounded-5 border border">
      <div id="select-area" class="mb-5">
        <h2>1.選擇圖片</h2>
        <div class="form-group">
          <input type="file" class="form-control mb-4" @change="onFileChange">
        </div>
        <button type="button" class="btn btn-primary btn-lg" @click="translateImage">進行翻譯</button>
      </div>

      <div id="teanslate-area">
        <h2>2.查看翻譯(修正編輯)</h2>
        <input class="form-control mb-4" type="text" placeholder="編輯內容標題..." required v-model="title">
        <textarea class="form-control mb-4" rows="20" v-model="translatedContent"></textarea>
        <button type="button" class="btn btn-success btn-lg" @click="createContent">建立我的翻譯筆記</button>
      </div>
    </div>

    <!-- 預覽內容 -->
    <div class="container my-5 p-4 p-lg-5 shadow rounded-5 border border">
      <div id="list-data">
        <h1 class=" text-center mb-4">翻譯列表清單</h1>
        <div class="row gy-4">
          <div class="col-6 col-lg-3" v-for="content in contents" :key="content.id">
            <div class="card border-light p-2 shadow">
              <div class="card-body">
                <a href="#openModal" data-bs-toggle="modal" @click="openModal(content.id)">
                  <div class="card-header overflow-hidden border-0" style="height:200px;">
                    <img :src="`http://127.0.0.1:8000/${content.image}`" class="card-img-top">
                  </div>
                </a>
              </div>
              <div class="card-footer text-center border-0">
                <button class="btn btn-primary text-white me-3" data-bs-toggle="modal" data-bs-target="#editModal" @click="editModal(content.id)">編輯</button>
                <button class="btn btn-danger" @click="deleteContent(content.id)">刪除</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- openModal Modal ---------------------------------------------------------------->
  <div id="openModal" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">翻譯內容</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <p>{{ modalContent }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- editModal Modal -->
  <div id="editModal" class="modal fade" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">修改內容</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input id="editTitle" class="form-control mb-4" type="text" required v-model="editTitle">
          <textarea id="editTranslatedContent" class="form-control mb-4" rows="20" v-model="editTranslatedContent"></textarea>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary btn-lg" @click="updateContent">更新資料</button>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { ref, onMounted, nextTick, watch } = Vue;

    const app = Vue.createApp({
      setup() {
        // 定義響應式數據
        const translatedContent = ref('')
        const file = ref(null)
        const title = ref(null)
        const id = ref(null)
        const contents = ref([])
        const modalContent = ref('')
        const editId = ref(null);
        const editTranslatedContent = ref(null);
        const editTitle = ref(null);
        const refresh = ref(false);

        // 當使用者選擇檔案時可以取得檔案資訊
        const onFileChange = (event) => {
          file.value = event.target.files[0]
          console.log('檔案資訊檢視:', file.value)
        }

        // 上傳圖片取得翻譯結果
        const translateImage = async (event) => {
          const formData = new FormData() // 建立表單物件，用來傳送檔案
          formData.append('image', file.value) // 將檔案加入表單物件, key: image, value: file
          try {
            const response = await axios.post('http://127.0.0.1:8000/api/upload/translate/', formData)
            translatedContent.value = response.data.data
            console.log('翻譯內容:', translatedContent.value)
          } catch (error) {
            console.error('Error:', error)
          }
        }

        // 建立翻譯內容
        const createContent = async () => {
          try {
            // 建立表單物件蒐集資料，key 必須對應後端的欄位名稱
            const formData = new FormData()
            formData.append('image', file.value) // 將檔案加入表單物件
            formData.append('title', title.value || '') // 將文章標題加入表單物件
            formData.append('translated_content', translatedContent.value) // 將翻譯後的文字加入表單物件

            // API 請求
            const response = await axios.post('http://127.0.0.1:8000/api/upload/', formData);
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            });
            // 更新列表
            refresh.value = true;
          } catch (error) {
            console.error('Error:', error);
          }
        }

        // 列出所有翻譯結果
        const listContent = async () => {
          try {
            const response = await axios.get('http://127.0.0.1:8000/api/upload/')
            contents.value = response.data
          } catch (error) {
            console.log('Error:', error)
          }
        }

        // 監聽 refresh 變數的變化，並調用 listContent
        watch(refresh, async (newVal, oldVal) => {
          if (newVal) {
            await listContent();
            refresh.value = false; // 重置 refresh 變數
          }
        });

        // 刪除翻譯內容
        const deleteContent = async (id) => {
          try {
            const response = await axios.delete(`http://127.0.0.1:8000/api/upload/${id}/`)
            console.log(response)
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            })
            // await listContent()
            refresh.value = true;
          } catch (error) {
            console.error('Error:', error)
          }
        }

        // 打開 Modal 並顯示內容
        const openModal = (id) => {
          const content = contents.value.find(content => content.id === id)
          modalContent.value = content.translated_content.replace(/\. ?/g, '.<br>');
          nextTick(() => {
            // 強制更新模態框內容
            const modalTitle = document.querySelector('#openModal .modal-title')
            modalTitle.innerHTML = content.title;
            const modalBody = document.querySelector('#openModal .modal-body p')
            modalBody.innerHTML = modalContent.value;
          });
        }

        // 編輯翻譯內容
        const editModal = async (id) => {
          const content = contents.value.find(content => content.id === id);
          if (content) {
            editId.value = id;
            editTitle.value = content.title;
            editTranslatedContent.value = content.translated_content;
            nextTick(() => {
              // 強制更新模態框內容
              const modalBody = document.querySelector('#editModal .modal-body');
              modalBody.querySelector('#editTitle').value = editTitle.value;
              modalBody.querySelector('#editTranslatedContent').value = editTranslatedContent.value;
            });
          }
        }

        // 掛載時執行
        onMounted(() => {
          listContent()
        })

        return {
          translatedContent,
          file,
          title,
          contents,
          modalContent,
          editId,
          editTranslatedContent,
          editTitle,
          refresh,
          onFileChange,
          translateImage,
          createContent,
          editModal,
          deleteContent,
          openModal
        }
      }
    })

    app.mount('#app')


  </script>
</body>

</html>