<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 多國原文翻譯學習平台 - 您學習原文的好夥伴</title>
  <link rel="stylesheet" href="./css/bootstrap.css">
</head>

<body>
  <div id="app">
    <h1 class="text-center my-5 display-5">AI 多國原文翻譯學習平台</h1>
    <div class="container my-5 p-5 shadow rounded-5 border border">
      <div id="select-area" class="mb-5">
        <h2>1.選擇課文圖片</h2>
        <div class="form-group">
          <input type="file" class="form-control mb-4" @change="onFileChange">
        </div>
        <button type="button" class="btn btn-primary" @click="uploadImage">進行翻譯</button>
      </div>

      <div id="teanslate-area" class="mb-5">
        <h2>2.查看編輯翻譯內容</h2>
        <textarea class="form-control mb-4" rows="20" v-model="ocrResult"></textarea>
        <button type="button" class="btn btn-success" @click="updateChange">儲存編輯</button>
      </div>

      <hr>

      <div id="list-data">
        <h2>查看翻譯列表</h2>
        <div class="row">
          <div class="col-3 text-truncates" v-for="item in translations" :key="item.id">
            <div class="card">
              <img :src="`http://127.0.0.1:8000/${item.image}`" class="card-img-top">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script> -->
  <!-- <script src="https://unpkg.com/pinia@2/dist/pinia.iife.js"></script> -->
  <script>
    const { ref, onMounted } = Vue;

    const app = Vue.createApp({
      setup() {
        const ocrResult = ref('');
        const file = ref(null);
        const id = ref(null);
        const translations = ref([]);

        // 當使用者選擇檔案時觸發
        const onFileChange = (event) => {
          file.value = event.target.files[0];
          console.log('File selected:', file.value);
        };

        // 上傳圖片取得翻譯結果
        const uploadImage = async (event) => {
          const formData = new FormData();
          formData.append('image', file.value);
          try {
            const response = await axios.post('http://127.0.0.1:8000/api/upload/', formData);
            ocrResult.value = response.data.data;
            id.value = response.data.id;
            console.log('OCR Result:', ocrResult.value);
          } catch (error) {
            console.error('Error:', error);
          }
        };

        // 儲存翻譯結果
        const updateChange = async () => {
          try {
            console.log(id.value, ocrResult.value)
            // DRF 根據請求類型去自動判斷要做的動作，例如：create, update, delete
            const response = await axios.put(`http://127.0.0.1:8000/api/upload/${id.value}/`, { data: ocrResult.value });
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            })
            // 更新列表
            await listData();
          } catch (error) {
            console.error('Error:', error);
          }
        };

        // 列出所有翻譯結果
        const listData = async () => {
          try {
            const response = await axios.get('http://127.0.0.1:8000/api/upload/')
            console.log(response.data);
            translations.value = response.data;
          } catch (error) {
            console.log('Error:', error);
          }
        }

        onMounted(() => {
          listData();
        })

        return {
          ocrResult,
          file,
          translations,
          onFileChange,
          uploadImage,
          updateChange
          ,
        };
      }
    });

    app.mount('#app');


  </script>
</body>

</html>