<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI 多國翻譯學習平台 - 您學習原文的好夥伴</title>
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/font/bootstrap-icons.min.css">
  <style>
    :root {
      --bs-dark-rgb: 0, 50, 70;
    }

    html,
    body {
      height: 100%;
    }

    #main-title,
    #my-notes {
      margin: 4rem 0 3rem;
    }

    .card {
      transition: 0.3s;
    }

    .card:hover {
      border: 1px solid #777 !important;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3) !important;
    }

    .btn-dark {
      --bs-btn-bg: #004765;
      --bs-btn-border-color: #415f7b;
      --bs-btn-hover-bg: #005a81;
      --bs-btn-hover-border-color: #3e617c;
    }

    pre {
      font-family: '微軟正黑體';
      font-size: 16px;
      white-space: pre-wrap;
    }

    .modal,
    .container {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    }

    @media (min-width: 1200px) {
      .modal-xl {
        --bs-modal-width: 1320px;
      }
    }
  </style>
</head>

<body class="mx-3 mx-sm-0">
  <div id="app" class="pb-5">
    <!-- 進度條 -->
    <div v-if="loading" class="text-center position-absolute top-0 start-0 w-100">
      <div class="progress" style="height:15px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" :style="{ width: progress + '%' }"></div>
      </div>
    </div>

    <!-- 1.翻譯內容 ------------------------------------------------------------------------------------------------------->
    <h1 id="main-title" class="text-center display-5 text-white">AI 多國翻譯學習平台</h1>
    <div class="container my-5 p-4 p-lg-5 rounded-5 bg-white ">
      <div id="select-area">
        <h2 class="mb-3">1.選擇圖片</h2>
        <div class="form-group">
          <input type="file" class="form-control border-secondary mb-4" @change="onFileChange">
        </div>
        <button type="button" class="btn btn-dark btn-lg" @click="translateImage" :disabled="loading">
          <i class="bi bi-translate"></i> 進行翻譯
          <div v-if="loading" class="spinner-border spinner-border-sm text-white">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>

    <!-- 2.查看翻譯 ------------------------------------------------------------------------------------------------------->
    <div class="container my-5 p-4 p-lg-5 rounded-5 bg-white">
      <div id="teanslate-area">
        <h2 class="mb-3">2.翻譯內容</h2>
        <input class="form-control border-secondary mb-4" type="text" placeholder="編輯標題" required v-model="title">
        <textarea class="form-control border-secondary mb-4" rows="20" v-model="translatedContent"></textarea>
        <button type="button" class="btn btn-dark btn-lg" @click="createContent"><i class="bi bi-file-earmark-plus-fill"></i> 新增筆記</button>
      </div>
    </div>

    <!-- 預覽內容 ------------------------------------------------------------------------------------------------------->
    <h1 id="my-notes" class="text-center text-white">我的翻譯筆記</h1>
    <div class="container p-4 p-lg-5 rounded-5 bg-white">
      <div id="list-data">
        <div class="row gy-4">
          <div class="col-6 col-lg-3" v-for="content in contents" :key="content.id">
            <div class="card border p-2 shadow-sm h-100">
              <div class="card-header">
                <h6 class="card-text text-center">{{ content.title }}</h6>
              </div>
              <div class="card-body overflow-hidden" style="height:150px;">
                <a href="#readModal" data-bs-toggle="modal" @click="readModal(content.id)">
                  <div class="card-header border-0">
                    <img :src="`http://127.0.0.1:8000/${content.image}`" class="card-img-top">
                  </div>
                </a>
              </div>
              <div class="card-footer text-center border-0">
                <button class="btn btn-outline-success mb-2 mb-lg-0 me-lg-3" data-bs-toggle="modal" data-bs-target="#editModal" @click="editModal(content.id)"><i class="bi bi-pencil-fill"></i> 編輯</button>
                <button class="btn btn-outline-danger" @click="deleteContent(content.id)"><i class="bi bi-trash"></i> 刪除</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 頁尾 ------------------------------------------------------------------------------------------------------------>
    <footer class="pt-5 h5">
      <div class="container text-center text-white mt-5">
        <p>AI 多國翻譯學習平台 - 您學習原文的好夥伴 © <span id="currentYear">{{ new Date().getFullYear() }}</span> by DayDayBug</p>
      </div>
    </footer>

    <!-- readModal ------------------------------------------------------------------------------------------------------->
    <div id="readModal" class="modal fade" data-bs-backdrop="static">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" v-html="modalTitle"></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p v-html="modalContent"></p>
          </div>
        </div>
      </div>
    </div>

    <!-- editModal ------------------------------------------------------------------------------------------------------->
    <div id="editModal" class="modal fade" data-bs-backdrop="static">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-0 pb-0">
            <h1 class="modal-title fs-3 fw-bold">編輯內容</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body pb-0">
            <input id="editTitle" class="form-control border-secondary mb-4" type="text" required v-model="editTitle">
            <textarea id="editTranslatedContent" class="form-control border-secondary mb-4" rows="15" v-model="editTranslatedContent"></textarea>
          </div>
          <div class="modal-footer justify-content-center border-0 pt-0 pb-4">
            <button type="button" class="btn btn-primary btn-lg" @click="updateContent(editId)">更新資料</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 動畫與裝飾圖 ------------------------------------------------------------------------------------------------------->
  <div id="background" class="position-fixed h-100 w-100 top-0 start-0" style="z-index:-1"></div>
  <div class="d-none d-lg-block" style="width:200px;height:200px;position: fixed;right:1%;top:10%;transform:rotate(-30deg);z-index:-1;">
    <img class="w-100 h-100" src="./images/ufo.png" style="filter:invert(100%)">
  </div>
  <div class="d-none d-lg-block" style="width:200px;height:200px;position: fixed;left:1%;top:10%;transform:rotate(-30deg) scaleX(-1); z-index:-1;">
    <img class="w-100 h-100" src="./images/astronaut.png" style="filter:invert(100%)">
  </div>
  <div class="d-none d-lg-block" style="width:150px;height:150px;position: fixed;left:1%;bottom:10%;z-index:-1;">
    <img class="w-100 h-100" src="./images/rocket.png" style="filter:invert(100%)">
  </div>
  <div class="d-none d-lg-block" style="width:200px;height:200px;position: fixed;right:0%;bottom:0%;transform:rotate(-70deg);z-index:-1;">
    <img class="w-100 h-100" src="./images/planet.png" style="filter:invert(100%)">
  </div>

  <!-- 載入套件 ------------------------------------------------------------------------------------------------------->
  <script src="./js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
  <script src="./js/animation.js"></script>
  <script>
    const { ref, onMounted, nextTick, watch } = Vue // 解構出 Vue 的功能來使用

    // 創建 Vue 應用
    const app = Vue.createApp({
      setup() {
        // 定義響應式數據 (MVVM 的 Model)
        const translatedContent = ref('')
        const id = ref(null)
        const title = ref(null)
        const file = ref(null)
        const contents = ref([])                  // 全部翻譯內容資料
        const modalTitle = ref('')                // 模態框標題
        const modalContent = ref('')              // 模態框內容
        const editId = ref(null)
        const editTranslatedContent = ref(null)
        const editTitle = ref(null)
        const refresh = ref(false)
        const loading = ref(false)                // 定義 loading 狀態
        const progress = ref(0)                   // 定義進度條狀態


        // 選擇檔案時可以取得檔案資訊
        const onFileChange = (event) => {
          file.value = event.target.files[0]
          console.log('檔案資訊檢視:', file.value)
        }

        // 上傳圖片取得翻譯結果
        const translateImage = async (event) => {
          loading.value = true   // 開始載入
          progress.value = 0     // 重置進度條

          // 建立表單容器，存放資料，用於發送請求
          const formData = new FormData()
          formData.append('image', file.value) // 將檔案加入表單物件, key: image, value: file
          try {
            const response = await axios.post('http://127.0.0.1:8000/api/upload/translate/', formData, {
              onUploadProgress(e) {
                progress.value = Math.round((e.loaded * 100) / e.total)
              }
            })
            translatedContent.value = response.data.data
          } catch (error) {
            console.error('Error:', error)
          } finally {
            loading.value = false // 結束 loading
          }
        }

        // 建立翻譯內容
        const createContent = async () => {
          try {
            // 建立表單容器，存放資料，key 必須對應後端的欄位名稱
            const formData = new FormData()
            formData.append('image', file.value)                                // 將檔案加入表單物件
            formData.append('title', title.value || '')                         // 將文章標題加入表單物件
            const formattedContent = `<pre>${translatedContent.value}</pre>`
            formData.append('translated_content', formattedContent)             // 將翻譯後的文字加入表單物件

            // POST 請求
            const response = await axios.post('http://127.0.0.1:8000/api/upload/', formData)
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            })
            // 更新列表
            refresh.value = true

            // 清空表單欄位
            file.value = null;
            title.value = '';
            translatedContent.value = '';

            // 清除檔案名稱顯示
            const fileInput = document.querySelector('input[type="file"]');
            if (fileInput) {
              fileInput.value = ''; // 清除檔案欄位
            }

          } catch (error) {
            errorMessage = error.response.data.message.title[0]
            Swal.fire({
              title: '錯誤',
              text: errorMessage,
              icon: 'error',
              customClass: {
                confirmButton: 'btn btn-danger'
              }
            })
          }
        }

        // 列出所有翻譯結果
        const listContent = async () => {
          try {
            // GET 請求
            const response = await axios.get('http://127.0.0.1:8000/api/upload/')
            contents.value = response.data
          } catch (error) {
            console.log('Error:', error)
          }
        }

        // 刪除翻譯內容
        const deleteContent = async (id) => {
          try {
            // DELETE 請求
            const response = await axios.delete(`http://127.0.0.1:8000/api/upload/${id}/`)
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            })
            refresh.value = true
          } catch (error) {
            console.error('Error:', error)
          }
        }

        // 更新翻譯內容
        const updateContent = async (id) => {
          try {
            const formData = new FormData()
            formData.append('title', editTitle.value)
            formData.append('translated_content', editTranslatedContent.value)
            const response = await axios.put(`http://127.0.0.1:8000/api/upload/${id}/`, formData)
            Swal.fire({
              title: response.data.message,
              icon: 'success',
              customClass: {
                confirmButton: 'btn btn-success'
              }
            })
            refresh.value = true
            modalElement = document.querySelector('#editModal')
            const modal = bootstrap.Modal.getInstance(modalElement)
            modal.hide()
          } catch (error) {
            console.error('Error:', error)
          }
        }

        // 監聽 refresh 變數的變化，並調用 listContent
        watch(refresh, async (newVal, oldVal) => {
          if (newVal) {
            await listContent()
            refresh.value = false // 重置 refresh 變數
          }
        })

        // 開啟 readModal 顯示內容
        const readModal = (id) => {
          const content = contents.value.find(content => content.id === id)
          modalContent.value = content.translated_content
          modalTitle.value = content.title
        }

        // 開啟 editModal 顯示內容
        const editModal = async (id) => {
          const content = contents.value.find(content => content.id === id)
          editId.value = id
          editTitle.value = content.title
          editTranslatedContent.value = content.translated_content;
        }

        // 掛載時執行
        onMounted(() => {
          listContent()
        })

        return {
          translatedContent,
          file,
          title,
          contents,
          modalTitle,
          modalContent,
          editId,
          editTranslatedContent,
          editTitle,
          refresh,
          loading,
          progress,
          onFileChange,
          translateImage,
          createContent,
          deleteContent,
          updateContent,
          readModal,
          editModal,
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>