<!-- 到這裡 django\contrib\admin\templates\admin 複製 base_site.html -->
{% extends 'admin/base.html' %}

{% block title %}
  {% if subtitle %}
    {{ subtitle }} |
  {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
  <div id="site-name">
    <a href="{% url 'admin:index' %}">KaiFu 後台管理1</a>
  </div>
  {% if user.is_anonymous %}
    {% include 'admin/color_theme_toggle.html' %}
  {% endif %}
{% endblock %}

{% block nav_global %}

{% endblock %}
